@charset "UTF-8";
/*
A├▒ade los enlaces al resto de archivos para que ├║nicamente se genere este archivo en formato CSS incorporando todos los estilos.
*/
/*
Crea una variable primarycolor con valor #daebf2.
Crea una variable primaryfont-color con valor #1ca5b8.
Crea una variable border con valor 0.2em
*/
/*
Genera un mixin llamado bordes redondeados.
Debe aceptar como par├ímetros de entrada un color (color: valor por defecto whitesmoke) y una altura (height: 15rem valor por defecto).

Dentro del mixin:
- Asigna a una variable radio el valor del par├ímetro  de entrada altura *0.1
- Asigna a la altura el valor del par├ímetro  de entrada height
- Asigna al fondo el color del par├ímetro  de entrada color.
- Asigna a los radios el valor de la variable radio generada dentro del mixin
    border-radius
    -webkit-border-radius
    -moz-border-radius


Genera un mixin llamado no-border estableciendo los border a none.
*/
.jumbotron {
  background: #daebf2;
  border: 0.3em solid #8fc2d7;
  height: 10%;
  background: whitesmoke;
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%; }

h4 {
  background: white;
  border: 0.1em solid #daebf2;
  height: 15rem;
  background: whitesmoke;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem; }

/*# sourceMappingURL=mycss.css.map */
